//IDENTIDADE DO SITE
$cor-principal: #060335;
$cor-secundaria: #01a1a6;
$cor-footer: #7e7e7e;
$cor-botao: #bcf170;
$bg-cinza: #f2f2f2;

//SCREEN SIZES
$break-small: 576px;
$break-tablet: 768px;
$break-notebook: 992px;
$break-pc: 1440px;